
body {
  background-color: #ffffff;
  color: #27447F;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  /*font-size: 80px;*/
  line-height: 104px;
  line-height: 130%;
}

h3 {
  /* H3 (30) */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 130%;
}

h4 {
  /* H3 (30) */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
}

h2,
h5,
h6 {
  color: #27447F;
}

a {
  color: #27447F;
  transition: all 0.5s ease-in-out;
}

a:hover {
  color: #0078ff;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.caption-text {
  text-transform: uppercase;
}

/*-------------------------------------*/

.margin-top {
  margin-top: 50px;
}

.nav {
  text-transform: uppercase;
}

.top-menu {

  background: #fff ;
  padding:15px 0px;
  color: #27447F;
  /* Shadow Button Click */

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.top-menu-text {
  color: #27447F !important;
}

.inline {
  display: inline;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #27447F;
}

.navbar-nav {
  list-style-type: none;
  float: right;
}

.navbar-nav>li{
  margin-left:30px;
  padding-top: 15px;
}

.navbar-nav>li>a{
  color: #27447F;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-brand{
  text-transform: uppercase;
  font-weight: bold;
}

/*-------------------------------------*/

.intro{
  background-color: black;
  background-repeat: no-repeat;
  height: 50em;
  background-position-x: 16em;
  background-size: contain;
  margin-top: 5em;
  color: #FFF;
}

.intro-title{
  color: #FFF;
}

.intro-content {
  padding: 15em 0em;
}

.intro-title {
  padding: 1em 0em 0em;
  font-size: 3.2em;
}
.intro-subtitle {
  font-size: 1.5em;
}

.big-card {
  margin-top: 40px;
  /* Cinza */
  background: #F5F5F5;

  /* Card Shadow Normal */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
}

.big-card-half {
  padding: 20px;
}

.info-title {
  margin-left: 10px;
}

.skill-info{
  margin-top: 5em;
}

.bold {
  font-weight: bold;
}

.section-title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.card-xp {
  /* Cinza */
  background: #F5F5F5;
  /*width: 300px;*/
  /*height: 350px;*/
  /* Card Shadow Normal */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 40px;
  margin: 4%;
}

.company-logo {
  background-color: grey;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  margin-top: -10px;
  margin-bottom: 25px;
}

.company-logo-bg-bunq {
  background: url('img/bunq_App_Icon_Square@4x.png');
  background-size: contain;
}

.company-logo-bg-myparcel {
  background: url('img/myparcel-logo.jpg');
  background-size: contain;
}

.company-logo-bg-flexpedia {
  background: url('img/flexpedia-logo.png');
  background-size: contain;
}

.company-logo-bg-elastique {
  background: url('img/elastique-squarelogo.png');
  background-size: contain;
}

.company-logo-bg-lightspeed-r {
  background: url('img/Lightspeed_HQ.jpg');
  background-size: contain;
}

.company-logo-bg-lightspeed {
  background: url('img/Lightspeed.jpg');
  background-size: contain;
}

.company-logo-bg-hardsecure {
  background: url('img/hardsecurelogo.png');
  background-size: contain;
}

.company-title {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}

.card-code {
  /* Cinza */
  background: url('img/bg-projects.jpeg');
  background-position: -306px -55px;
  /*width: 300px;*/
  height: 275px;
  /* Card Shadow Normal */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 30px;
  margin: 4%;
  color: #FFFFFF;
}

.card-code-stack-badge-wrap{
  margin-top: 130px;
}

.card-code-stack-badge {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  float:left;
  margin-right: 5px;
}

.badge-bash {
  background: url('img/bash-logo.png');
  background-size: contain;
}

.badge-docker {
  background: url('img/docker-logo.png');
  background-size: contain;
}

.badge-mysql {
  background: url('img/mysql-logo.png');
  background-size: contain;
}

.badge-phpunit {
  background: url('img/phpunit-logo.png');
  background-size: contain;
}

.badge-symfony {
  background: url('img/symfony-logo.png');
  background-size: 80px;
  background-position: center;
}

.badge-vagrant {
  background: url('img/vagrant-logo.png');
  background-size: contain;
}

.badge-vue {
  background: url('img/vue-logo.png');
  background-size: 80px;
  background-position: center;
}

.badge-php {
  background: url('img/php-logo.png');
  background-size: contain;
}

.blue-n-ams {
  width: 100%;
  height: 800px;
  padding: 50px;
  /* Blue n Porto */
  background: linear-gradient(0deg, rgba(47, 128, 237, 0.7), rgba(47, 128, 237, 0.7)), url('img/ams.jpeg');
  background-position-y: -130px;
  background-size: cover;
  margin-top: 50px;
}

.contact-form {
  margin-top: 50px;
}

.input-text-area{
  height: 200px;
}

.contact-text-align{
  margin-left: 20px;
}

.send-button{
  /* AzulClaro */
  background: #2F80ED;
  /* Shadow Button */

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;

  font-weight: bold;
  padding: 5px 40px;
}

.blog-card {
  height: 400px;
  width:300px;
  background-color: #F5F5F5;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  margin-left: 40px;
  margin-right: 40px;
}

.blog-card-image {
  height: 350px;
  width:300px;
  border-radius: 5px;
  background-color: #F5F5F5;
}

.blog-card-image-spacer {
  height: 150px;
  width:300px;
}

.blog-card-text {
  backdrop-filter: blur(20px);
  height: 200px;
  padding: 20px;
  text-align: center;
  color: #F5F5F5;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.blog-card-text > h5{
  color: #F5F5F5;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 1.5em;
}

.blog-card-footer {
  border-radius: 5px;
}

.author-info {
  padding: 10px;
}

.author-avatar {
  float:left;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.author-name {
  padding: 3px;
  margin-left: 3.5em;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="exp-roller"] {
    display: flex!important;
    flex-direction: row!important;
    flex-wrap: nowrap!important;
    overflow-x: scroll;
    height: 34em;
  }
  [class*="col-3"] {
    flex: 0 0 75%;
    max-width: 75%;
    max-height: 28em;
  }
  [class*="blue-n-fuji"] {
    background-position-y: -350px;!important;
  }
  [class*="intro"] {
    background-position-x: 1em;
    height: 20em;
  }
  [class*="intro-content"] {
    padding: initial;
  }
  [class*="intro-title"] {
    font-size: 2em;
    height: auto;
  }
  [class*="intro-subtitle"] {
    font-size: 0.7em;
  }
}
