<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
  {% block title %}
    Fernando Andrade
  {% endblock %}
  <</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ get_asset('css|styles.css') }}" >
  <script src="{{ get_asset('js|script.js')}}" ></script>

  <style>

    .blue-n-porto {
      width: 100%;
      height: 350px;
      background: linear-gradient(0deg, rgba(47, 128, 237, 0.7), rgba(47, 128, 237, 0.7)),url({{ get_asset('images|porto.jpg') }});
      background-position-y: -255px;
    }
    .blue-n-fuji {
      width: 100%;
      height: 350px;
      /* Blue n Porto */
      background: linear-gradient(0deg, rgba(47, 128, 237, 0.7), rgba(47, 128, 237, 0.7)), url({{ get_asset('images|fujisan.jpeg') }});
      background-position-y: -460px;
      background-size: cover;
    }
    .blue-n-ams {
      width: 100%;
      height: 800px;
      padding: 50px;
      /* Blue n Porto */
      background: linear-gradient(0deg, rgba(47, 128, 237, 0.7), rgba(47, 128, 237, 0.7)), url({{ get_asset('images|amsterdam.jpeg') }});
      background-position-y: -130px;
      background-size: cover;
      margin-top: 50px;
    }

    .badge-bash {
      background: url({{ get_asset('images|bash-logo.png') }});
    background-size: contain;
    }

    .badge-docker {
      background: url({{ get_asset('images|docker-logo.png') }});
    background-size: contain;
    }

    .badge-mysql {
      background: url({{ get_asset('images|mysql-logo.png') }});
    background-size: contain;
    }

    .badge-phpunit {
      background: url({{ get_asset('images|phpunit-logo.png') }});
    background-size: contain;
    }

    .badge-symfony {
      background: url({{ get_asset('images|symfony-logo.png') }});
    background-size: 80px;
    background-position: center;
    }

    .badge-vagrant {
      background: url({{ get_asset('images|vagrant-logo.png') }});
    background-size: contain;
    }

    .badge-vue {
      background: url({{ get_asset('images|vue-logo.png') }});
    background-size: 80px;
    background-position: center;
    }

    .badge-php {
      background: url({{ get_asset('images|php-logo.png') }});
    background-size: contain;
    }

    .company-logo-bg-bunq {
      background: url({{ get_asset('images|bunq_App_Icon_Square@4x.png') }});
    background-size: contain;
    }

    .company-logo-bg-myparcel {
      background: url({{ get_asset('images|myparcel-logo.jpg') }});
    background-size: contain;
    }

    .company-logo-bg-flexpedia {
      background: url({{ get_asset('images|flexpedia-logo.png') }});
    background-size: contain;
    }

    .company-logo-bg-elastique {
      background: url({{ get_asset('images|elastique-squarelogo.png') }});
    background-size: contain;
    }

    .company-logo-bg-lightspeed-r {
      background: url({{ get_asset('images|Lightspeed.jpg') }});
    background-size: contain;
    }

    .company-logo-bg-lightspeed {
      background: url({{ get_asset('images|Lightspeed_HQ.jpg') }});
    background-size: contain;
    }

    .company-logo-bg-hardsecure {
      background: url({{ get_asset('images|hardsecurelogo.png') }});
    background-size: contain;
    }

    .card-code {
      /* Cinza */
      background: url({{ get_asset('images|bg-projects.jpeg') }});
    background-position: -306px -55px;
    /*width: 300px;*/
    height: 275px;
    /* Card Shadow Normal */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 30px;
    margin: 4%;
    color: #FFFFFF;
    }

    @media only screen and (max-width: 768px) {
      [class*="blue-n-fuji"] {
        background-position-y: -350px;!important;
      }
    }
  </style>
</head>
<body>

<!--/ Nav End /-->
<nav class="navbar navbar-expand-md navbar-light fixed-top top-menu">
  <div class="container">
    <a class="navbar-brand top-menu-text" href="#page-top">Fernando Andrade</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-end b" id="navbarCollapse">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link js-scroll top-menu-text active" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll top-menu-text" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll top-menu-text" href="#portfolio">Code</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link js-scroll top-menu-text" href="#blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll top-menu-text" href="#contact">Contact</a>
        </li>-->
      </ul>
    </div>
  </div>
</nav>
<!--/ Nav End /-->

{% block body %}
<!--/ Intro Skew Star /-->
<div id="home" class="intro route bg-image" style="background-image: url({{ get_asset('images|intro-bg.jpg') }}); ">
<div class="overlay-itro"></div>
<div class="intro-content">

  <div class="container">
    <div class="row">
      <div class="col-6"></div>
      <div class="col-6">
        <h1 class="intro-title mb-4">I am Fernando Andrade</h1>
        <p class="intro-subtitle">
          <a href="" style='color: #fff' class="text-slider-items caption-text typewrite" data-period="2000" data-type='[ "Backend Developer", "Frontend Developer", "I Love to Develop", "Linux Enthusiast." ]'>
            <span class="text-slider-items caption-text"></span>
          </a>
        </p>
      </div>
    </div>
  </div>

</div>
</div>
<!--/ Intro Skew End /-->

<!--/ About /-->
<section id="about" >
  <div class="container big-card">
    <div class="row">

      <div class="col-6 big-card-half">
        <div class="col">
          <div class="float-left">
            <div class="about-img">
              <img src="" class="img-fluid rounded b-shadow-a" alt="">
            </div>
          </div>

          <div class="">
            <div class="about-info">
              <p><spam class="info-title bold">Name: </spam> <span>Fernando Andrade</span></p>
              <p><spam class="info-title bold">Profile: </spam> <span>Full stack developer</span></p>
              <p><spam class="info-title bold">Github: </spam> <span>/fernandofreamunde</span></p>
              <p><spam class="info-title bold">Gitlab: </spam> <span>/fernandofreamunde</span></p>
            </div>
          </div>
        </div>

        <div class="skill-info caption-text bold">
          <p class="">Skills</p>
          <span>PHP</span>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
          <span>Symfony</span>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
          <span>HTML</span>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
          <span>CSS3</span>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
          <span>JAVASCRIPT</span>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
          <span>VUE.JS</span>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
          <span>GO</span>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>
      </div>

      <div class="col-6 big-card-half">
        <h5 class="bold">
          About me
        </h5>
        <p >
          I'm a Portuguese, Software Developer that arrived in the Netherlands back in 2015. With me I brought energy, perseverance, some self taught PHP knowledge and a love for delivering high quality work.
        </p>
        <p >
          At some point learning more about coding patterns and exploring frameworks outside of work led me to Symfony, quickly making it my favourite PHP Framework to work with, and with time it got better and better.
        </p>
        <p >
          I learned that I  get more motivated while I'm learning, so that is something that I set to my self to keep on learning new things and tools, as you can see in this bar on the left I am trying to learn more about the frontend and have some curiosity about GoLang, I only started on them so I cant claim I'm an expert, but with enough time I'll get there.
        </p>
        <p>
          Code is fun but is not everything in life, I have a great interest in other things such as Gaming, playing the guitar, although I am still learning it, and Japanese culture, and language.
        </p>
      </div>

    </div>
  </div>
</section>
<!--/ About End /-->

<!--/ Experience /-->
<section id="experience" >
  <div class="container margin-top">
    <div class="section-title">
      <h1>Experience</h1>
      <div class="caption-text">Some of the companies that I have had the pleasure to work with</div>
    </div>
    <div class="row margin-top exp-roller">
      <!--/ Card /-->
      <div class="card-xp col-3">
        <div class="company-logo company-logo-bg-bunq"></div>
        <div class="card-xp-text">
          <div class="company-title">bunq</div>
          <div class="company-intro">
            A mobile first challenger bank from the Netherlands, totally independent that removes borders and barriers in traditional banking.
          </div>
        </div>
      </div>
      <!--/ Card End /-->
      <!--/ Card /-->
      <div class="card-xp col-3">
        <div class="company-logo company-logo-bg-myparcel"></div>
        <div class="card-xp-text">
          <div class="company-title">MyParcel</div>
          <div class="company-intro">
            MyParcel.com enables e-commerce and marketplace businesses to save time and money shipping parcels and letters to and from any place in the world.
          </div>
        </div>
      </div>
      <!--/ Card End /-->
      <!--/ Card /-->
      <div class="card-xp col-3">
        <div class="company-logo company-logo-bg-flexpedia"></div>
        <div class="card-xp-text">
          <div class="company-title">Flexpedia</div>
          <div class="company-intro">
            Flexpedia strives to make payroll a fair, friendly, transparent and easy for the entrepreneurs and their employees. Bringing the human aspect into Payrol and makking people happy in the process.
          </div>
        </div>
      </div>
      <!--/ Card End /-->
      <!--/ Card /-->
      <div class="card-xp col-3">
        <div class="company-logo company-logo-bg-elastique"></div>
        <div class="card-xp-text">
          <div class="company-title">Elastique</div>
          <div class="company-intro">
            A collective of tech wizards, concept guru’s and design rockstars dreaming up award winning digital experiences. We work with leading brands and media companies to create innovative solutions that truly stand out.
          </div>
        </div>
      </div>
      <!--/ Card End /-->
      <!--/ Card /-->
      <div class="card-xp col-3">
        <div class="company-logo company-logo-bg-lightspeed-r"></div>
        <div class="card-xp-text">
          <div class="company-title">Lightspeed</div>
          <div class="company-intro">
            Lightspeed is a point-of-sale and e-commerce software provider based in Montreal, Quebec, Canada. Lightspeed provides small and medium sized retail and restaurant businesses with point of sale solutions.
          </div>
        </div>
      </div>
      <!--/ Card End /-->
      <!--/ Card /-->
      <div class="card-xp col-3">
        <div class="company-logo company-logo-bg-hardsecure"></div>
        <div class="card-xp-text">
          <div class="company-title">Hardsecure</div>
          <div class="company-intro">
            Hardsecure is an Information Security company based in Lisbon. Implementing innovative security oriented methodologies with the aim to provide peace of mind to our customers.
          </div>
        </div>
      </div>
      <!--/ Card End /-->

    </div>
  </div>
</section>
<!--/ Experience End /-->

<div class="blue-n-porto"></div>

<!--/ Portfolio /-->
<section id="portfolio" >
  <div class="container margin-top">
    <div class="section-title">
      <h1>Code Samples</h1>
      <div class="caption-text">some samples of code mostly written as assessments to different companies or just side projects</div>
    </div>
    <div class="row margin-top exp-roller">
      <!--/ Card /--
      <div class="card-code col-3">
        <div class="card-code-text">
          <div class="bold"><h4>Temper</h4></div>
          <div class="card-code-stack-badge-wrap">
            <div class="card-code-stack-badge badge-docker"></div>
            <div class="card-code-stack-badge badge-vue"></div>
            <div class="card-code-stack-badge badge-php"></div>
          </div>
        </div>
      </div>
      <--/ Card End /-->
      <!--/ Card /-->
      <div class="card-code col-3">
        <div class="card-code-text">
          <div class="bold"><h4>Chat App</h4></div>
          <div class="card-code-stack-badge-wrap">
            <div class="card-code-stack-badge badge-vue"></div>
          </div>
        </div>
      </div>
      <!--/ Card End /-->
      <!--/ Card /-->
      <div class="card-code col-3">
        <div class="card-code-text">
          <div class="bold"><h4>ChatApp Server</h4></div>
          <div class="card-code-stack-badge-wrap">
            <div class="card-code-stack-badge badge-symfony"></div>
          </div>
        </div>
      </div>
      <!--/ Card End /-->
      <!--/ Card /-->
      <div class="card-code col-3">
        <div class="card-code-text">
          <div class="bold"><h4>zRover</h4></div>
          <div class="card-code-stack-badge-wrap">
            <div class="card-code-stack-badge badge-phpunit"></div>
          </div>
        </div>
      </div>
      <!--/ Card End /-->
      <!--/ Card /--
      <div class="card-code col-3">
        <div class="card-code-text">
          <div class="bold"><h4>Invoice Report</h4></div>
          <div class="card-code-stack-badge-wrap">
            <div class="card-code-stack-badge badge-php"></div>
            <div class="card-code-stack-badge badge-mysql"></div>
          </div>
        </div>
      </div>
      <--/ Card End /-->
      <!--/ Card /--
      <div class="card-code col-3">
        <div class="card-code-text">
          <div class="bold"><h4>Invoice Report VM</h4></div>
          <div class="card-code-stack-badge-wrap">
            <div class="card-code-stack-badge badge-vagrant"></div>
            <div class="card-code-stack-badge badge-bash"></div>
          </div>
        </div>
      </div>
      <--/ Card End /-->

    </div>
  </div>
</section>
<!--/ Portfolio End /-->
{% endblock %}

<div class="blue-n-fuji" ></div>

<!--&lt;!&ndash;/ Blog /&ndash;&gt;-->
<!--<section id="blog" >-->
<!--  <div class="container margin-top">-->
<!--    <div class="section-title">-->
<!--      <h1>Blog</h1>-->
<!--      <div class="caption-text">tutorials tips and trick regarding programming, tech or just life</div>-->
<!--    </div>-->
<!--    <div class="row margin-top">-->
<!--      &lt;!&ndash;/ Card /&ndash;&gt;-->
<!--      <div class="blog-card">-->
<!--        <div class="blog-card-image" style="background-image: url({{ path('get_image', { image: 23}) }}); background-size: contain;" >-->
<!--          <div class="blog-card-image-spacer"></div>-->
<!--          <div class="blog-card-text">-->
<!--            <h5 class="caption-text bold">Blog Post Title</h5>-->
<!--            <p>First paragraph of the blog post. I still need an automated way of detecting this, and limit it so the design can work.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="blog-card-footer" >-->
<!--          <div class="author-info" style="padding: 10px">-->
<!--            <div class="author-avatar" style="background-image: url({{ path('get_image', { image: 23}) }}); background-size: contain;"></div>-->
<!--            <div class="author-name caption-text bold" >Fernando Andrade</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash;/ Card End /&ndash;&gt;-->

<!--      &lt;!&ndash;/ Card /&ndash;&gt;-->
<!--      <div class="blog-card">-->
<!--        <div class="blog-card-image" style="background-image: url({{ path('get_image', { image: 23}) }}); background-size: contain;" >-->
<!--          <div class="blog-card-image-spacer"></div>-->
<!--          <div class="blog-card-text">-->
<!--            <h5 class="caption-text bold">Blog Post Title</h5>-->
<!--            <p>First paragraph of the blog post. I still need an automated way of detecting this, and limit it so the design can work.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="blog-card-footer" >-->
<!--          <div class="author-info" style="padding: 10px">-->
<!--            <div class="author-avatar" style="background-image: url({{ path('get_image', { image: 23}) }}); background-size: contain;"></div>-->
<!--            <div class="author-name caption-text bold" >Fernando Andrade</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash;/ Card End /&ndash;&gt;-->

<!--      &lt;!&ndash;/ Card /&ndash;&gt;-->
<!--      <div class="blog-card">-->
<!--        <div class="blog-card-image" style="background-image: url({{ path('get_image', { image: 23}) }}); background-size: contain;" >-->
<!--          <div class="blog-card-image-spacer"></div>-->
<!--          <div class="blog-card-text">-->
<!--            <h5 class="caption-text bold">Blog Post Title</h5>-->
<!--            <p>First paragraph of the blog post. I still need an automated way of detecting this, and limit it so the design can work.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="blog-card-footer" >-->
<!--          <div class="author-info" style="padding: 10px">-->
<!--            <div class="author-avatar" style="background-image: url({{ path('get_image', { image: 23}) }}); background-size: contain;"></div>-->
<!--            <div class="author-name caption-text bold" >Fernando Andrade</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash;/ Card End /&ndash;&gt;-->

<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!--&lt;!&ndash;/ Blog End /&ndash;&gt;-->

<!--<div class="blue-n-ams" >-->
<!--  &lt;!&ndash;/ Contact /&ndash;&gt;-->
<!--  <section id="contact" >-->
<!--    <div class="container big-card">-->
<!--      <div class="row">-->

<!--        <div class="col-6 big-card-half">-->
<!--          <h4 class="bold contact-text-align">-->
<!--            Send me a message-->
<!--          </h4>-->
<!--          <form class="contact-form">-->
<!--            <div class="col-md-12 mb-3">-->
<!--              <div class="form-group">-->
<!--                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:3" data-msg="Please enter at least 3 chars">-->
<!--                <div class="validation"></div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-12 mb-3">-->
<!--              <div class="form-group">-->
<!--                <input type="email" name="name" class="form-control" id="email" placeholder="youremail@example.com" >-->
<!--                <div class="validation"></div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-12 mb-3">-->
<!--              <div class="form-group">-->
<!--                <input type="text" name="subject" class="form-control" id="subject" placeholder="Subject" >-->
<!--                <div class="validation"></div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-12 mb-3">-->
<!--              <div class="form-group">-->
<!--                <textarea class="form-control input-text-area" name="content" placeholder="Your message!" ></textarea>-->
<!--                <div class="validation"></div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-12 mb-3">-->
<!--              <div class="form-group">-->
<!--                <input type="submit" class="btn btn-primary send-button" value="Send Message">-->
<!--              </div>-->
<!--            </div>-->

<!--          </form>-->

<!--        </div>-->

<!--        <div class="col-6 big-card-half">-->
<!--          <h4 class="bold">-->
<!--            Let's get in touch-->
<!--          </h4>-->
<!--          <div class="contact-form">-->
<!--            <p >-->
<!--              Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu erat, accumsan id-->
<!--              imperdiet et, porttitor-->
<!--              at sem. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla-->
<!--              porttitor accumsan tincidunt.-->
<!--            </p>-->
<!--            <p >-->
<!--              Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor eget felis-->
<!--              porttitor volutpat. Vestibulum-->
<!--              ac diam sit amet quam vehicula elementum sed sit amet dui. porttitor at sem.-->
<!--            </p>-->
<!--            <p >-->
<!--              Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim.-->
<!--              Nulla porttitor accumsan-->
<!--              tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
<!--  &lt;!&ndash;/ Contact End /&ndash;&gt;-->
<!--</div>-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

